<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="6.9.1.2588" targetFramework="net461" />
  <package id="Fody" version="5.0.6" targetFramework="net461" developmentDependency="true" />
  <package id="ReactiveUI" version="9.16.6" targetFramework="net461" />
  <package id="ReactiveUI.Events.WPF" version="9.16.6" targetFramework="net461" />
  <package id="ReactiveUI.Fody" version="9.16.6" targetFramework="net461" />
  <package id="ReactiveUI.WPF" version="9.16.6" targetFramework="net461" />
  <package id="RestSharp" version="106.6.9" targetFramework="net461" />
  <package id="Splat" version="7.2.1" targetFramework="net461" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="VirtualizingWrapPanel" version="1.2.2" targetFramework="net461" />
</packages>